## **Feature Engineering Exercise**
22.05.26

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

Your task is to engineer some new features to try to improve a mode's ability to predict the total number of bike share rentals during a given hour of the day.

1. Import the data the drop the 'casual' and 'registered' columns.  These are redundant with your target, 'count'.  



2. Transform the 'datetime' column into a datetime type and use it to create 3 new columns in the data frame containing the:

  1. Name of the Month
  2. Name of the Day of the Week
  3. Hour of the Day

   Make sure all 3 new columns are 'object' datatype so they can be one-hot encoded later.  

   Drop the 'datetime' and 'season' columns.  These are now redundant.



3. The temperatures in the 'temp' and 'atemp' column are in Celsius.  Use `.apply()` to convert them to Fahrenheit.



4. Create a new column, 'temp_variance' that is the difference between 'temp' and 'atemp'.  Drop the 'atemp' column.

In [ ]:
data = '/content/drive/MyDrive/Colab Notebooks/Week 10/bikeshare_train - bikeshare_train.csv'
df = pd.read_csv(data)
df.head(5)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [ ]:
# Check for duplicated columns:

df.duplicated().sum()

0

In [ ]:
# CHeck for missing values:

df.isna().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [ ]:
# Check feature data and types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

Import the data the drop the 'casual' and 'registered' columns. These are redundant with your target, 'count'.

In [ ]:
df.drop(columns = {'casual', 'registered'}, inplace = True)

Transform the 'datetime' column into a datetime type and use it to create 3 
new columns in the data frame containing the:

Name of the Month
Name of the Day of the Week
Hour of the Day
Make sure all 3 new columns are 'object' datatype so they can be one-hot encoded later.

Drop the 'datetime' and 'season' columns. These are now redundant.

In [ ]:
# Change datetime to datetime64 type:

df['datetime'] = pd.to_datetime(df['datetime'])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(6)
memory usage: 850.6 KB

In [ ]:
# New columns:

# Name of Month:
df['name_of_month'] = df['datetime'].dt.month

# Name of Day:
df['name_of_day'] = df['datetime'].dt.day

# Hour of the Day:
df['hour_of_day'] = df['datetime'].dt.hour

# Datatype corection:

df['name_of_month'] = df['datetime'].astype(object)
df['name_of_day'] = df['datetime'].astype(object)
df['hour_of_day'] = df['datetime'].astype(object)

# Removal of redundant columns:

df.drop(columns = {'datetime', 'season'}, inplace = True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   holiday        10886 non-null  int64
 1   workingday     10886 non-null  int64
 2   weather        10886 non-null  int64
 3   temp           10886 non-null  float64
 4   atemp          10886 non-null  float64
 5   humidity       10886 non-null  int64
 6   windspeed      10886 non-null  float64
 7   count          10886 non-null  int64
 8   name_of_month  10886 non-null  object
 9   name_of_day    10886 non-null  object
 10  hour_of_day    10886 non-null  object
dtypes: float64(3), int64(5), object(3)
memory usage: 935.6+ KB

The temperatures in the 'temp' and 'atemp' column are in Celsius. Use .apply() to convert them to Fahrenheit.

In [ ]:
# Lambda function to convert Celsius to Fahrenheit:

c_to_f = lambda x: (x * (9/5)) + 32

df['temp'] = df['temp'].apply(c_to_f)

df['atemp'] = df['atemp'].apply(c_to_f)

In [ ]:
df['atemp'].values

array([57.911, 56.543, 56.543, ..., 60.638, 63.365, 61.997])

In [ ]:
df['temp'].values

array([49.712, 48.236, 48.236, ..., 57.092, 57.092, 55.616])

In [ ]:
# New column for temp variance and the removal of atemp column:

df['temp_variance'] = df['atemp'] - df['temp']

df.drop(columns = 'atemp', inplace = True)

In [ ]:
df['temp_variance']

0        8.199
1        8.307
2        8.307
3        8.199
4        8.199
         ...
10881    7.407
10882    4.797
10883    3.546
10884    6.273
10885    6.381
Name: temp_variance, Length: 10886, dtype: float64

In [ ]:
# Check of revised data set:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   holiday        10886 non-null  int64
 1   workingday     10886 non-null  int64
 2   weather        10886 non-null  int64
 3   temp           10886 non-null  float64
 4   humidity       10886 non-null  int64
 5   windspeed      10886 non-null  float64
 6   count          10886 non-null  int64
 7   name_of_month  10886 non-null  object
 8   name_of_day    10886 non-null  object
 9   hour_of_day    10886 non-null  object
 10  temp_variance  10886 non-null  float64
dtypes: float64(3), int64(5), object(3)
memory usage: 935.6+ KB